<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Controller</title>
</head>

<body>
    The controller is now listening! Use "W, A, S, D" to control the snake
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).on("keypress", function (event) {
        performPost(event.key)
    });

    function performPost(key){
        $.ajax({
            type: "POST",
            url:"{{ url_for('controller') }}",
            data: {"direction": key}
        })
    }
</script>

</html>